<% provide(:title, "HOME") %>
<h1>APEX DIARY</h1>
<div class="center jumbotron">
  <h1>Write your APEX DIARY</h1>

  <h2>
    This is the home page for the
    <a href="http://localhost:3000/stages">APEX DIARY</a>
  </h2>

  <%= link_to "サインアップ", new_url, class: "btn btn-lg btn-primary" %>
</div>

